/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
====================================
GENERAL CUSTOM STYLES
====================================
*/

body {
  line-height: 1;
  background: #f2f5f9;
  color: #222;
  font: 400 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 900;
  font-family: "Oswald", sans-serif;
}

h2 { /* so basically the hero text... */
  font-size: 2.2em;
  text-transform: uppercase;
  line-height: 1.2em;
  width: 45%;
  text-shadow: 3px -3px 6px #000;
}

h3 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.subscribeText {
  font-size: 1.3em;
}

footer {
  font-style: italic;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px dashed black;
}

a:hover {
  color: #000;
  border-bottom: 1px solid black;
}

q,
blockquote,
ul,
ol {
  background: #ddd;
  width: 100%;
  padding: 10px 10px;
  margin: 1.1em 0;
}

q, blockquote {
  font-style: italic;
}

li {
  background: url("../images/arrow.png") 0 50% no-repeat;
  padding-left: 28px;
}


/*
====================================
LAYOUT
====================================
*/

.container {
  display: inline-block;
  box-sizing: border-box;
  margin: inherit auto;
  padding: 20px 45px;
}

header {
  display: block;
  background: #2b2e33;
  width: 100%;
  height: 220px;
  color: #eee;
  position: relative;
}

section {

}

article {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 5px solid #ddd;
}

footer {
  display: block;
  background: #222;
  width: 100%;
  color: #fff;
}

.hero {
  background: linear-gradient(#aaa 50%, #222);
  background: #000 url(../images/hero_boxer.jpg) no-repeat top left;
  background-size: cover;
  width: 100%;
  height: 340px;
  padding-top: 100px;
}

.mailingList {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: center;
  color: #222;
  background: #efefef;
  border-top: 1px solid #eee;
  display: block;
  height: 70px;
  width: 100%;
  position: relative;
}

/*
====================================
CLEARFIX
====================================
*/

.floatingGroup:before,
.floatingGroup:after {
  content: "";
  display: table;
}

.floatingGroup:after {
  clear: both;
}

.floatingGroup {
  clear: both;
  *zoom: 1;
}

/* /CLEARfIX */

.logo {
  position: absolute;
  width: 200px;
  text-align: center;
  left: 0;
  right: 0;
  top: 10px;
  margin: 0 auto;
  font-size: 1.6em;
  letter-spacing: 0.3em;
  font-weight: lighter;
  text-shadow: 0px -2px 2px #000;
}

.logo a {
  color: #fff;
  text-decoration: none;
  border: none;
}

.logo a:hover {
  color: #000;
}

.social {
  float: right;
}

.mainNav ul {
  margin: 0;
  padding: 0;
  background: none;
  display: block;
  position: absolute;
}

.mainNav li {
  padding: 0;
  display: inline-block;
  background: none;
  vertical-align: top;
}

.mainNav a {
  padding: 2px 20px;
  padding-top: 5px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  color: #ddd;
  margin: 0;
  background: #ccf;
  background: linear-gradient(#333, #222)
}

.mainNav a:hover,
.mainNav a:focus {
  background: #222;
  background: linear-gradient(#444, #222);
}

.footerNav ul {
  background: none;
  float: right;
}

.footerNav li {
  background: none;
  display: inline-block;
}

.footerNav a {
  color: #eee;
}

.main {
  margin: 20px 0 0 0;
  width: 100%;
}

.content {
  float: left;
  width: 68%;
}

aside {
  float: right;
  width: 30%;
  background: #eee;
  border-left: 2px solid #ddd;
  text-align: center;
}

/*
====================================
FORMS
====================================
*/

form {
  background: #fff;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  vertical-align: middle;
}

.btn {
  color: #eee;
  background: #2b2e33;
  height: 3.5em;
  width: 10em;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 0;
}

.btn:hover {
  background: #333;
  cursor: pointer;
}

.apply {
  margin-bottom: 2em;
}

.apply textarea {
  resize: vertical;
}

.newsletter {
  background: none;
  border: none;
  width: 100%;
  padding: 5px;
}

.newsletter h4 {
  display: inline-block;
  float: left;
}

.newsletter label {
  width: 20%;
  margin-left: 40px;
  float: left;
}

.newsletter input {
  display: inline-block;
}

textarea,
input {
  border-radius: 5px;
  line-height: 1.5;
  width: 100%;
}

label {
  display: inline-block;
  width: 90%;
  margin-bottom: 8px;
}

fieldset {
  padding-bottom: 2em;
}


/*
====================================
TABLE STYLING
====================================
*/

table {
  width: 100%;
  text-align: center;
}

th {
  background: #222;
  border: 2px solid #222;
  color: #eee;
  width: 25%;
  height: 3em;
  vertical-align: middle;
}

td {
  border: 1px solid #222;
  padding: 0.5em;
}

tr:nth-child(even) {
  background: #ddd;
}

.tableLeft {
  text-align: left;
}

.tableRight {
  text-align: right;
}
