/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
====================================
GENERAL CUSTOM STYLES
====================================
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  line-height: 1;
  background: #f2f5f9;
  color: #222;
  font: 400 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 900;
  font-family: "Oswald", sans-serif;
}

h2 {
  /* so basically the hero text... */
  margin-top: 70px;
  font-size: 2.2em;
  text-transform: uppercase;
  line-height: 1.2em;
  width: 45%;
  text-shadow: 3px -3px 6px #222;
}

h3 {
  font-size: 1.75em;
  margin-bottom: 1em;
}

footer {
  font-style: italic;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px dashed black;
}

a:hover {
  color: #222;
  border-bottom: 1px solid black;
}

q,
blockquote,
ul,
ol {
  background: #fff;
  padding: 10px 10px;
  margin: 1.1em 0;
}

q, blockquote {
  font-style: italic;
}

li {
  background: url("../images/arrow.png") 0 50% no-repeat;
  padding-left: 28px;
}

.btn {
  color: #f2f5f9;
  background: #222;
  height: 3.5em;
  text-transform: uppercase;
  transition: background-color 1s;
}

.btn:hover {
  background: #444;
  cursor: pointer;
}

/*
====================================
LAYOUT
====================================
*/
.container {
  box-sizing: border-box;
  margin: inherit auto;
  padding: 20px 32px;
}

header {
  display: block;
  background: #222;
  width: 100%;
  height: 260px;
  color: #f2f5f9;
  position: relative;
}

article {
  width: 100%;
  margin-bottom: 44px;
  border-bottom: 5px solid #eee;
}

footer {
  display: block;
  background: #222;
  width: 100%;
  color: #f2f5f9;
}

.hero {
  background: #222 url(../images/hero_boxer.jpg) no-repeat top left;
  background-size: cover;
  width: 100%;
  height: 380px;
  padding-top: 100px;
}

.article-img {
  width: 100%;
  margin-bottom: 18px;
}

/*
====================================
CLEARFIX
====================================
*/
.floatingGroup:before,
.floatingGroup:after {
  content: "";
  display: table;
}

.floatingGroup:after {
  clear: both;
}

.floatingGroup {
  clear: both;
  *zoom: 1;
}

/* /CLEARfIX */
.logo {
  position: absolute;
  width: 200px;
  text-align: center;
  left: 0;
  right: 0;
  top: 10px;
  margin: 12px auto;
  font-size: 1.6em;
  letter-spacing: 0.3em;
  font-weight: lighter;
  text-shadow: 0px -2px 2px #000;
}
.logo a {
  color: #f2f5f9;
  text-decoration: none;
  border: none;
}
.logo a:hover {
  color: #000;
}

.social {
  float: right;
}

.dropdown {
  display: inline;
}

header svg {
  fill: #444;
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease-out;
}

.burgerIcon {
  fill: #f2f5f9;
  transition: fill 0.3s ease-out;
}

header svg:hover {
  fill: #f2f5f9;
}

.burgerIcon:hover {
  fill: #222;
}

.socialIcons {
  padding-left: 8px;
}

.footerNav ul {
  background: none;
  float: right;
}
.footerNav li {
  background: none;
  display: inline-block;
}
.footerNav a {
  color: #f2f5f9;
}

.main {
  margin: 260px 0 0 0;
  width: 100%;
}

.content {
  float: left;
  width: 68%;
  text-align: center;
}

.article-text {
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;
}

aside {
  float: right;
  width: 30%;
  background: #f2f5f9;
  border-left: 1px solid #444;
  text-align: center;
}

/*
====================================
ARTICLES
====================================
*/
.photo-icon-wrapper {
  text-align: center;
  margin-top: -46px;
}

.photo-icon {
  width: 48px;
  fill: #222;
  background: #fff;
}

.article-info {
  margin-bottom: 2em;
  color: #999;
  text-transform: uppercase;
}

.user-icon,
.calendar-icon {
  margin: 0 6px 0 18px;
  height: 16px;
  fill: #222;
}

.btn-more {
  margin: 2em 0 3em 0;
  font-size: 1em;
  color: #222;
  background: #f2f5f9;
  border: 2px solid #eee;
  width: 200px;
}

.btn-more:hover {
  background: #444;
  color: #f2f5f9;
}

.article-text h3 {
  text-transform: uppercase;
}

/*
====================================
FORMS
====================================
*/
form {
  background: #f2f5f9;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

.mailingList {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 44px;
  color: #222;
  background: #eee;
  border-top: 1px solid #f2f5f9;
  display: block;
  height: 70px;
  width: 100%;
}
.mailingList .mail-input {
  display: inline-block;
  margin-top: 4px;
  font-size: 1em;
  margin-right: 12px;
}
.mailingList .emailnews {
  margin-right: 0;
}
.mailingList .btn {
  float: right;
  width: 24%;
}

.newsletter {
  background: none;
  border: none;
  width: 100%;
}
.newsletter h4 {
  margin-top: 8px;
  text-align: left;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1em;
}
.newsletter label {
  width: 20%;
  margin-left: 40px;
  float: left;
}

textarea,
input {
  line-height: 2.5em;
  border: 0;
  width: 100%;
  padding: 0 1em;
}

label {
  display: inline-block;
  width: 90%;
}

fieldset {
  padding-bottom: 2em;
}

/*
====================================
TABLE STYLING
====================================
*/
table {
  width: 100%;
  text-align: center;
}

th {
  background: #222;
  border: 2px solid #222;
  color: #f2f5f9;
  width: 25%;
  height: 3em;
  vertical-align: middle;
}

td {
  border: 1px solid #222;
  padding: 0.5em;
}

tr:nth-child(even) {
  background: #f2f5f9;
}

.tableLeft {
  text-align: left;
}

.tableRight {
  text-align: right;
}

/*# sourceMappingURL=styles.css.map */
