/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
====================================
GENERAL CUSTOM STYLES
====================================
*/

$white: #f2f5f9;
$black: #222;
$deepestblack: #000;
$grey: #444;

body {
  line-height: 1;
  background: $white, 20%;
  color: $black;
  font: 400 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 {
  font-weight: 900;
  font-family: "Oswald", sans-serif;
}
h2 { /* so basically the hero text... */
  margin-top: 50px;
  font-size: 2.2em;
  text-transform: uppercase;
  line-height: 1.2em;
  width: 45%;
  text-shadow: 3px -3px 6px $black;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.subscribeText {
  font-size: 1.3em;
}

footer {
  font-style: italic;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: $grey;
  border-bottom: 1px dashed black;
}

a:hover {
  color: $black;
  border-bottom: 1px solid black;
}

q,
blockquote,
ul,
ol {
  background: $white;
  width: 100%;
  padding: 10px 10px;
  margin: 1.1em 0;
}

q, blockquote {
  font-style: italic;
}

li {
  background: url("../images/arrow.png") 0 50% no-repeat;
  padding-left: 28px;
}


/*
====================================
LAYOUT
====================================
*/

.container {
  display: inline-block;
  box-sizing: border-box;
  margin: inherit auto;
  padding: 20px 45px;
}
header {
  display: block;
  background: $black;
  width: 100%;
  height: 260px;
  color: $white;
  position: relative;
}
section {

}
article {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 5px solid $white;
}
footer {
  display: block;
  background: $black;
  width: 100%;
  color: $white;
}
.hero {
  background: $black url(../images/hero_boxer.jpg) no-repeat top left;
  background-size: cover;
  width: 100%;
  height: 380px;
  padding-top: 100px;
}


/*
====================================
CLEARFIX
====================================
*/

.floatingGroup:before,
.floatingGroup:after {
  content: "";
  display: table;
}

.floatingGroup:after {
  clear: both;
}

.floatingGroup {
  clear: both;
  *zoom: 1;
}

/* /CLEARfIX */

.logo {
  position: absolute;
  width: 200px;
  text-align: center;
  left: 0;
  right: 0;
  top: 10px;
  margin: 12px auto;
  font-size: 1.6em;
  letter-spacing: 0.3em;
  font-weight: lighter;
  text-shadow: 0px -2px 2px $deepestblack;
  a {
    color: $white;
    text-decoration: none;
    border: none;
  }
  a:hover {
    color: $deepestblack;
  }
}
.social {
  float: right;
}
.dropdown {
  display: inline;
}
header svg {
  fill: $grey;
  width: 24px;
  height: 24px;
}
.burgerIcon {
  fill: $white;
}
header svg:hover {
  fill: $white;
}
.burgerIcon:hover {
  fill: $black;
}
.socialIcons {
  padding-left: 8px;
}
.footerNav {
  ul {
    background: none;
    float: right;
  }
  li {
    background: none;
    display: inline-block;
  }
  a {
    color: $white;
  }
}
.main {
  margin: 20px 0 0 0;
  width: 100%;
}
.content {
  float: left;
  width: 68%;
}
aside {
  float: right;
  width: 30%;
  background: $white;
  border-left: 1px solid $grey;
  text-align: center;
}

/*
====================================
FORMS
====================================
*/

form {
  background: $white;
  text-align: center;
  width: 80%;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  vertical-align: middle;
}
.btn {
  color: $white;
  background: $black;
  height: 3.5em;
  text-transform: uppercase;
}
.btn:hover {
  background: $grey;
  cursor: pointer;
}
.apply {
  margin-bottom: 2em;
  textarea {
  resize: vertical;
  }
}
.mailingList {
  padding-top: 0;
  padding-bottom: 0;
  color: $black;
  background: desaturate( $white, 20% );
  border-top: 1px solid $white;
  display: block;
  height: 70px;
  width: 100%;
  .mail-input {
    margin-top: 4px;
    width: 20em;
    font-size: 1em;
    padding-right: 12px;
  }
  -mail-input:last-child {
    padding-right: 0;
  }
  .btn {
    float: right;
    width: 24%;
  }
}
.newsletter {
  background: none;
  border: none;
  width: 100%;
  h4 {
    margin-top: 4px;
    text-align: left;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1em;
  }
  label {
    width: 20%;
    margin-left: 40px;
    float: left;
  }
}
textarea,
input {
  line-height: 2.5em;
  border: 0;
  width: 100%;
  padding: 0 1em;
}
label {
  display: inline-block;
  width: 90%;
}
fieldset {
  padding-bottom: 2em;
}

/*
====================================
TABLE STYLING
====================================
*/

table {
  width: 100%;
  text-align: center;
}
th {
  background: $black;
  border: 2px solid $black;
  color: $white;
  width: 25%;
  height: 3em;
  vertical-align: middle;
}
td {
  border: 1px solid $black;
  padding: 0.5em;
}
tr:nth-child(even) {
  background: $white;
}
.tableLeft {
  text-align: left;
}
.tableRight {
  text-align: right;
}
